# Zigbee Configuration
CONFIG_ZB_ENABLED=y
CONFIG_ZB_ZCZR=y
CONFIG_IEEE802154_ENABLED=y

# Partition Table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# FreeRTOS
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=3072

# IRAM
CONFIG_I2C_ISR_IRAM_SAFE=y
CONFIG_LEDC_CTRL_FUNC_IN_IRAM=y
CONFIG_PCNT_CTRL_FUNC_IN_IRAM=y

# WiFi
CONFIG_ESP_WIFI_DPP_SUPPORT=y